<ul class="nav menu-treelike" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class="{$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item1_icon} {$item1_title}</span>
		<span class="r-menu-collapsed">{$item1_collicon}{$item1_firstcap}</span>
</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class="{$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item2_icon} {$item2_title}</span>
		<span class="r-menu-collapsed">{$item2_collicon}{$item2_firstcap}</span>
</a>

	</li>
	{END item2_menulink}
	
	
	{BEGIN item3_menulink}
	<li class="{$item3_current}">
		
<a {$item3_menulink_attrs} title="{$item3_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item3_icon} {$item3_title}</span>
		<span class="r-menu-collapsed">{$item3_collicon}{$item3_firstcap}</span>
</a>

	</li>
	{END item3_menulink}
	
	
	{BEGIN item4_menulink}
	<li class="{$item4_current}">
		
<a {$item4_menulink_attrs} title="{$item4_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item4_icon} {$item4_title}</span>
		<span class="r-menu-collapsed">{$item4_collicon}{$item4_firstcap}</span>
</a>

	</li>
	{END item4_menulink}
	
	
	{BEGIN item5_menulink}
	<li class="{$item5_current}">
		
<a {$item5_menulink_attrs} title="{$item5_tooltip}" >
	<span class="
		r-menu-expanded
	"> {$item5_icon} {$item5_title}</span>
		<span class="r-menu-collapsed">{$item5_collicon}{$item5_firstcap}</span>
</a>

	</li>
	{END item5_menulink}
</ul>