	{BEGIN item1_menulink}
	<option {$item1_optionattrs} {BEGIN item1_current}selected{END item1_current}>
		{$item1_nbsps}{$item1_title}
	</option>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<option {$item2_optionattrs} {BEGIN item2_current}selected{END item2_current}>
		{$item2_nbsps}{$item2_title}
	</option>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<option {$item3_optionattrs} {BEGIN item3_current}selected{END item3_current}>
		{$item3_nbsps}{$item3_title}
	</option>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<option {$item4_optionattrs} {BEGIN item4_current}selected{END item4_current}>
		{$item4_nbsps}{$item4_title}
	</option>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<option {$item5_optionattrs} {BEGIN item5_current}selected{END item5_current}>
		{$item5_nbsps}{$item5_title}
	</option>
	{END item5_menulink}
