{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
	{BEGIN simpleTypeMenu}
		
		{BEGIN item1_menulink}
		<td id="item1" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item1_menulink}
			
		{BEGIN item2_menulink}
		<td id="item2" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item2_menulink}
			
		{BEGIN item3_menulink}
		<td id="item3" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item3_menulink}
			
		{BEGIN item4_menulink}
		<td id="item4" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item4_current} current{END item4_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item4_menulink}
			
		{BEGIN item5_menulink}
		<td id="item5" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item5_current} current{END item5_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item5_menulink}
					{BEGIN adminarea_link}
		<td id="itemAA" view="topitem" class="Leaf">
	<table class="runner-c" cellpadding="0">
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>	
		{END adminarea_link}
	{END simpleTypeMenu}

	{BEGIN adminAreaTypeMenu}
	{BEGIN item1_menulink}
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item1_menulink}
{BEGIN item2_menulink}
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item2_menulink}
{BEGIN item3_menulink}
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item3_menulink}


	{END adminAreaTypeMenu}
	</tr>
</table>
{END mainmenu_block}