{BEGIN mainmenu_block}
{BEGIN treeLikeTypeMenu}
	<tr class="runner-b-vmenu runner-vmenu tree">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		<div class="manage">
			<a href="#"><img alt="*" src="images/plus.gif">
				expand all
			</a>
		</div>
	</td>
	<td class="runner-cr"></td>
</tr>


{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}

{BEGIN item2_menulink}
<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item2_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item2_groupimage}
<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}

{BEGIN item3_menulink}
<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{BEGIN item4_menulink}
<tr id="item4" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item4_current} current{END item4_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item4_menulink}

{BEGIN item5_menulink}
<tr id="item5" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item5_current} current{END item5_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item5_menulink}
		{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu tree Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END treeLikeTypeMenu}
	
{BEGIN simpleTypeMenu}
	
{BEGIN item1_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}

{BEGIN item2_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item2_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item2_groupimage}
<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}

{BEGIN item3_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{BEGIN item4_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item4_current} current{END item4_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item4_menulink}

{BEGIN item5_menulink}
<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item5_current} current{END item5_current}">
	<td class="runner-cl"></td>
	<td class="runner-cc">
		{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



	</td>
	<td class="runner-cr"></td>
</tr>
{END item5_menulink}
		{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu tree Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item1_menulink_attrs}>{$item1_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}
{BEGIN item2_menulink}
<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item2_menulink_attrs}>{$item2_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}
{BEGIN item3_menulink}
<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item3_menulink_attrs}>{$item3_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{END adminAreaTypeMenu}
{END mainmenu_block}
